body {
  font-family: Quicksand;
  background-color: rgba(255, 179, 225, 0.5);
  width: 100%;
  font-size: 18px;
}
p,
.info {
  padding: 0px 30px;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}
.flexbox1,
.flexbox2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer {
  height: 50px;
  background-image: url(https://i.pinimg.com/originals/c6/78/30/c67830326d59a1329d8a64b6208494aa.jpg);
  background-size: contain;
  position: sticky;
  bottom: 0;
}
footer p {
  font-weight: 600;
  text-shadow: 0px 1px 2px rgb(70, 33, 68);
  transform: translateY(-50%);
}

img {
  max-width: 250px;
  padding: 5px;
}

.info {
  border: 5px solid rgb(224, 85, 150);
  border-radius: 30px;
  max-width: 800px;
  min-width: 260px;
  background-color: rgb(200, 99, 144, 0.7);
  margin: 20px;
}
h2 {
  font-weight: 600;
  text-shadow: 0px 1px 2px rgb(70, 33, 68);
}
.flexbox1 img,
.flexbox2 img {
  opacity: 1;
}

.flexbox1 img:hover,
.flexbox2 img:hover {
  opacity: 0.5;
}
a:link {
  color: rgb(163, 4, 255);
}
a:visited {
  color: rgb(109, 23, 77);
}
